.grid-container {
    display: grid;
}

.today-board {
    border: 3px solid black;
    width: auto;
    grid-row-start:1;
    grid-row-end:2;
    grid-column-start: 2;
    grid-column-end:4;
}

.search-history {
    max-width: 300px;
}

.five-day {
    display: flex;  
    justify-content: flex-end; 
}

.five-day > div {
    border: 3px solid black;
    padding: 10px;
    margin: 15px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
}

#search-history button{
    display: flex;
    justify-content: center;
    align-items: left;
    margin: none;
}

nav{
    display: flex;
    justify-content: center;
    color: white;
    background-image: linear-gradient(to right, blue, purple);
}

